@import '../../sass/variables';
.portafolio-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    .wrapper-projects{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 65%;
        min-height: 555px;
    }
}