@import '../../sass/variables.scss';
//Codigo del boton Descargar CV:
.btn-cv{
    font-family: $font-text-poppins;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 16px;
}

//Codigo del boton Contactarme: 
.btn-contacto{
    font-family: $font-text-poppins;
    font-weight: bold;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 0;
    cursor: pointer;
}

// Botones codigo y vizualizar del modal:
.btn-code{
    width: 125px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
}
.btn-view{
    width: 125px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
}
