@import '../../sass/variables.scss';

.home-wrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 520px;
        .txt-web{
            font-family: $font-title-serif;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
        }
        .my-name{
            font-family: $font-title-serif;
            font-weight: bold;
            font-size: 35px;
            letter-spacing: 2px;
            text-align: center;
            margin: 0;
        }
        .txt-inf{
            font-size: 17px;
            font-family: $font-text-poppins;
            text-align: center;
        }
        .wrapper-about{
            width: 65%;
            display: flex; 
            align-items: center;
            justify-content: space-around;
        }
    }
