.logo-class{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 50px;
}
.text-logo{
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 40px;
    letter-spacing: 1px;
    color: #ffff;
    margin: 0;
}